<div class="header-box">
    <h1 class="text-center"><span class="letter-1">S</span><span class="letter-2">E</span><span class="letter-3">A</span><span class="divider"></span><span class="letter-4">W</span><span class="letter-5">A</span><span class="letter-6">R</span><span class="letter-7">S<span class="copy">&copy;</span></span>
    </h1>
    <img src="/assets/anchor-3.png" alt="anchor">
</div>
<div class="container">
    <app-game-list class="clearfix"></app-game-list>
    <app-chat class="clearfix"></app-chat>
</div>
