<div class="container">
    <h1 class="text-center">What is Sea Wars?</h1>
    <section class="clearfix">
        <img src="assets/about/about-battling-1.png" alt="about-battling" class="float-left thumbnail">
        <h3>Basic Info</h3>
        <p>Sea Wars - is a simple 2 player turn based game well known in CIS region. The goal of this play is to kill
            enemy ships, but not lose own. The original game uses two 10x10 battlefields - allied and enemies. Each
            player has 10 ships: 1 x 4-deck, 2 x 3-deck, 3 x 2-deck and 4 x 1-deck. Each player shoot associated with
            letter plus number coordinate. Letter - stands for column of battlegrid and number - stands for row. In this
            online game variation of Sea Wars coordinates notation is not displayed because of no need. Online system
            takes all responsibility for shooting, result reporting proccesses. Thats make our game much more faster
            and dynamic (avarage duration 6-7 min).</p>
    </section>
    <section class="clearfix">
        <img src="assets/about/about-landing-1.png" alt="about-battling" class="float-right thumbnail">
        <h3>Landing Ships</h3>
        <p>When all players are loaded game begins with landing stage. Each player should land his ships over the
            battlefield. Click on ship to select him and chose his position with a second click on your sea grid. You can
            switch vertical and horizontal ship orientation by clicking special rotate button on the top of your battlescreen.
            Sea Wars using standard well-known landing rules - any of landed ships should't "touch" to each other directly.
            The only differents with original game is that you can land two ships that is "touched" by their corner. That
            have been made intentionally diverse and interesting. After you land all of your ships the system will
            automatically give a message that your're ready to battle.
        </p>
    </section>
    <section class="clearfix">
        <img src="assets/about/about-battling-2.png" alt="about-battling" class="float-left thumbnail">
        <h3>Battling State</h3>
        <p>The battling state begin when both players have landed their ships. The system will automatically chose
            which player will have a first turn for shooting. Turn info is displeyed by green/greed battlefield highlighting
            and "Sea Captain's" replic. If player misses his shoot the turn will go to his enemy, otherwise, if he hits, he's
            saving his turn and is able to continue shooting his enemy. When all ships of some player are dead, the game
            over message will appear, and system will ask user if he wants to save more detailed game results (with
            shooting history and statistics). Your recieve all info about your game on profile page by clicking your nickname
            or logo on navbar.
        </p>
    </section>
    <section class="clearfix">
        <img src="assets/about/about-captain.png" alt="about-battling" class="float-right thumbnail">
        <h3>Who is Sea Captain?</h3>
        <p>Sea Captain is your game spectator and logger. He will comment all your moves and will give you some hints
            in the battle. Also he may help you to land a ships - just click on him while landing stage is going on and he will
            automatically finish all routine for you. If you want Sea Captain to tell some fun joke, type "/joke" in the
            chat, and he will tell some "Chuck Norris"-like joke about himself to both players.
        </p>
    </section>
    <section class="clearfix">
        <img src="assets/about/about-author.jpg" alt="about-battling" class="float-left thumbnail">
        <h3>About author</h3>
        <p>Hi, I'm Anton Lempiy and this is my pet game. Sea Wars is a tiny self-teaching project, so a lot of misstakes may
            occur, but a hope they won't spoil your impression and you will have fun while playing with this.<br>
            For any questions or advices you can contact me via email <a href="mailto:lempiyada@gmail.com">lempiyada@gmail.com</a>.
            <br>
            Also you can view a source code of this project on my <a href="https://github.com/lempiy/">Github</a>
            <br>
            If you want to join some nice ukrainian developers gang called Kottans fill free to give your quiestions on our
            <a href="https://gitter.im/Kottans/kottans.github.io">Gitter</a>.
            <br>
            <b>Thanks a lot, and have fun!</b>
        </p>
    </section>
</div>
